.image-resource {
  opacity: 1;
  /*display: block;*/
  /*width: 100%;*/
  /*height: auto;*/
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  /*position: absolute;*/
  top: 50%;
  /*left: 50%;*/
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.style-polaroid:hover .image-resource {
  opacity: 0.3;
}

.style-polaroid:hover .middle {
  opacity: 1;
}