*.*~
*~
*.dmp
venv
.venv

# ABP: ignore quanta plus project files
*.webprj
*.session
# ABP: ignore local settings
qgis-app/settings_local.py
# ABP: ignore pyc
*.pyc
# ABP: ignore zips
*.zip
*tar.gz
*.tgz
*.rar
# ABP: ignore temp
temp/*
python/*
packages/*
packages/
build
# ABP: ignore debug shell
qgis/ipy.py

# ipython debug shell
ipy.py

#Tim Transient dirs when installing snippet deps
django-amazon-resources
djangosnippets.org
qgis-snippets
search-index

qgis/user-pics/*
qgis-app/static/cache
static_media

.vagrant
.idea
dockerize/static
dockerize/media
dockerize/logs
dockerize/certbot-etc
dockerize/webroot
.editorconfig

# test cache
qgis-app/*/tests/*/cache
qgis-app/api/tests/*/

# whoosh_index
qgis-app/whoosh_index/
docker-compose.override.yml
.env

# Webpack
qgis-app/node_modules/
qgis-app/package-lock.json
qgis-app/webpack-stats.json
qgis-app/static/webpack-bundles