*.*~
*~

# ABP: ignore quanta plus project files
*.webprj
*.session
# ABP: ignore local settings
settings_local.py
# ABP: ignore pyc
*.pyc
# ABP: ignore zips
*.zip
*tar.gz
*.tgz
*.rar
# ABP: ignore temp
temp/*
python/*
packages/*
packages/
build

# ipython debug shell
ipy.php

#Tim Transient dirs when installing snippet deps
django-amazon-resources
djangosnippets.org
qgis-snippets
search-index
