*.*~
*~
*.dmp
venv

# ABP: ignore quanta plus project files
*.webprj
*.session
# ABP: ignore local settings
settings_local.py
# ABP: ignore pyc
*.pyc
# ABP: ignore zips
*.zip
*tar.gz
*.tgz
*.rar
# ABP: ignore temp
temp/*
python/*
packages/*
packages/
build
# ABP: ignore debug shell
qgis/ipy.py

# ipython debug shell
ipy.py

#Tim Transient dirs when installing snippet deps
django-amazon-resources
djangosnippets.org
qgis-snippets
search-index
# ABP: sqlite support
init_spatialite-2.4.sql
qgis-django.sqlite3
qgis/user-pics/*
.idea/.name
.idea/deployment.xml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/qgis-django.iml
.idea/scopes/scope_settings.xml
.idea/vagrant.xml
.idea/vcs.xml
.idea/workspace.xml
.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/id
Vagrantfile
