#####################################
# Django 1.5 compatible requirements
#

Django==1.5.4
Feedjack==0.9.16
Markdown==2.3.1
PIL==1.1.7
Pygments==1.6
South==0.8.2
Whoosh==1.8.4
argparse==1.2.1
django-annoying==0.7.7
django-autoslug==1.7.1
django-debug-toolbar==0.9.4
django-endless-pagination==2.0
django-extensions==1.2.0
django-generic-aggregation==0.3.2
django-haystack==1.2.7
django-pagination==1.0.7
django-ratings==0.3.7
django-simple-ratings==0.3.2
django-sorting==0.1
django-taggit==0.9.3
django-taggit-autosuggest==0.2
django-taggit-templatetags==0.4.6dev
django-templatetag-sugar==0.1
django-tinymce==1.5.1
feedparser==5.1.3
opml==0.5
psycopg2==2.5.1
python-ldap==2.4.13
six==1.4.1
sorl-thumbnail==11.12

# ABP: Django 1.5 compatible version
https://github.com/cato-/django-feedjack/archive/master.zip

# RPC API
# ABP: Use my fork of rpc4django to support login_required for methods
git+git://github.com/elpaso/rpc4django.git

# For simple menus
git+git://github.com/elpaso/django-simplemenu.git

# For ldap authentication
python-ldap
django-auth-ldap

# ABP: openlayers widget - use easy install if pip install fails
django-olwidget
