django==1.3
#django-registration
django-debug-toolbar
django-extensions
psycopg2
pil
django-pagination

# ABP: fix for wrong sort fields
git+git://github.com/mlavin/django-sorting.git
#django-sorting

# handy functions like get_object_or_none
django-annoying
#
# Following are deps for django snippets
# see https://github.com/coleifer/djangosnippets.org/
#
pygments
markdown
django-simple-ratings
django-taggit
django-taggit-templatetags
django-haystack
whoosh==1.8.4 # with latest version there is an error (in production we have 1.4.1)
# pip install django-amazon-resources <-- no such package have to manual install
# Dont's use this - see INSTALL notes
#git+git://github.com/coleifer/djangosnippets.org.git


# For ldap authentication
python-ldap
django-auth-ldap

# openlayers widget - use easy install if pip install fails
django-olwidget

# for qgis rss planet
Feedjack

#For users app to create thumbs
sorl-thumbnail

# For simple menus
git+git://github.com/elpaso/django-simplemenu.git

# For better flatpages
django-tinymce


git+git://github.com/qgis/qgis-snippets.git

#Migrations
south

# RPC API
# Use my fork of rpc4django to support login_required for methods
git+git://github.com/elpaso/rpc4django.git

