db:
  container_name: qgis-plugins-db
  image: kartoza/postgis:9.6-2.4
  environment:
    - ALLOW_IP_RANGE=0.0.0.0/0
    - POSTGRES_USER=docker
    - POSTGRES_PASS=docker
  restart: unless-stopped

web:
  # Note you cannot scale if you use container_name
  container_name: qgis-plugins-web
  build: docker
  hostname: uwsgi
  environment:
    - DATABASE_NAME=gis
    - DATABASE_USERNAME=docker
    - DATABASE_PASSWORD=docker
    - DATABASE_HOST=db
    - DJANGO_SETTINGS_MODULE=settings_docker
    - VIRTUAL_HOST=plugins.kartoza.com
    - VIRTUAL_PORT=8080
  volumes:
    - ../qgis-app:/home/web/django_project
    - ./static:/home/web/static:rw
    - ./media:/home/web/media:rw
  links:
    - db:db
  restart: unless-stopped
  user: root
  command: uwsgi --ini /uwsgi.conf

devweb:
  # Note you cannot scale if you use container_name
  container_name: qgis-plugins-devweb
  build: docker
  hostname: uwsgi
  environment:
    - DATABASE_NAME=gis
    - DATABASE_USERNAME=docker
    - DATABASE_PASSWORD=docker
    - DATABASE_HOST=db
    - DJANGO_SETTINGS_MODULE=settings_docker
    - VIRTUAL_HOST=plugins.kartoza.com
    - VIRTUAL_PORT=8080
  volumes:
    - ../qgis-app:/home/web/django_project
    - ./static:/home/web/static:rw
    - ./media:/home/web/media:rw
  links:
    - db:db
  restart: unless-stopped
  user: root
  ports:
    # for django test server
    - "62202:8080"
    # for ssh
    - "62203:22"

nginx:
  # Note you cannot scale if you use container_name
  container_name: qgis-plugins-nginx
  image: nginx
  hostname: nginx
  volumes:
    - ./sites-enabled:/etc/nginx/conf.d:ro
    # I dont use volumes_from as I want to use the ro modifier
    - ./static:/home/web/static:ro
    - ./media:/home/web/media:ro
    - ./logs:/var/log/nginx
  links:
    - web:uwsgi
  ports:
    - "62201:8080"
  restart: unless-stopped
