{% extends "base.html" %}{% load i18n %}

{% block content %}
    <p>{% trans "Login using your OSGEO id." %}</p>
    <p>
       {% trans 'You can create a new OSGEO id on <a href="http://www.osgeo.org/osgeo_userid">OSGEO web portal.</a>' %}
    </p>
  {% if form.errors %}
  <ul class="messages">
    <li class="error">{% trans "Sorry, that's not a valid username or password" %}</li>
  </ul>
  {% endif %}

  <form class="horizontal" action='.' method='post'>{% csrf_token %}
    <p><label for="username">{% trans "User name" %}:</label>
    <input type="text" name="username" value="" id="username"></p>
    <p><label for="password">{% trans "Password" %}:</label>
    <input type="password" name="password" value="" id="password"></p>

    <p><input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" /></p>
  </form>


{% endblock %}