{% load i18n simplemenu_tags static %}
<footer class="footer">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column is-2-desktop">
                <figure class="image is-128x128">
                    <img alt="Logo" src="{% static "images/footlogo.svg" %}" />
                </figure>
            </div>
            <div class="column mb-6">
                <div class="columns is-desktop">
                    {% get_namedmenu Navigation as menu %}
                    {% for item in menu %}
                        <ul class="column mb-5">
                            <li class="is-size-5 mb-5">
                                <a href="{{item.page.url}}" class="footertitle text-nowrap">
                                    {{ item.name }}
                                </a>
                            </li>
                        </ul>
                    {% endfor %}
                    
                    {% get_namedmenu Hub as Hub %}
                    <ul class="column mb-5">
                        <li class="is-size-5 mb-5">
                            <a class="footertitle text-nowrap">
                                Hub
                            </a>
                        </li>
                        {% for item in Hub %}
                        <li class="mb-4">
                            <a href="{{ item.page.url }}" class="has-text-white text-nowrap">
                                {{ item.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="column is-2-desktop">
                <a href="/plugins/add">
                    <button class="button is-primary1 is-size-5">Upload a plugin</button>
                </a>
            </div>
        </div>
        <div class="columns is-desktop">
            <div class="copyright column is-2-desktop has-text-white"></div>
            <div class="column social-icons-links">
                <a class="has-text-white" href="https://www.facebook.com/profile.php?id=100057434859831">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a class="has-text-white" href="https://twitter.com/qgis">
                    <i class="fa-brands fa-square-twitter"></i>
                </a>
                <a class="has-text-white" href="https://www.youtube.com/@qgishome">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a class="has-text-white" href="https://mapstodon.space/@qgis@fosstodon.org">
                    <i class="fa-brands fa-foss"></i>
                </a>
                <a class="has-text-white" href="https://github.com/qgis/QGIS-Django">
                    <i class="fa-brands fa-square-github"></i>
                </a>
                <a class="has-text-white" href="">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </div>
        </div>
        <div class="columns is-desktop has-text-white">
            <div class="column is-offset-2-desktop">
                <p>{% trans "All content is licensed under" %} <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 licence (CC BY-SA)</a>.</p>
                {% block credits %}
                <p>{% trans "Select graphics from " %}<a href="https://thenounproject.com" target="_blank">{% trans "The Noun Project collection" %}</a>.</p>
                <p class="credit">{% trans "This web application was developed by:" %}&nbsp;<a href="https://www.itopen.it">Alessandro Pasotti</a> and &nbsp;<a href="https://kartoza.com"><img src="{% static 'images/kartoza-logo-only.png' %}" alt="Kartoza icon" width="16" height="16" />Kartoza</a>.</p>
                {% endblock %}
            </div>
        </div>
    </div>
</footer>