{% load static %}
<footer class="footer">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column is-2-desktop">
                <figure class="image is-128x128">
                    <img alt="Logo" src="{% static "images/footlogo.svg" %}" />
                </figure>
            </div>
            <div class="column mb-6">
                <div class="columns is-desktop">
                    <ul class="column mb-5">
                        <li class="is-size-5 mb-5">
                            <a href="https://qgis.org" class="footertitle text-nowrap">
                                QGIS Home
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="/" class="has-text-white text-nowrap">
                                About plugins
                            </a>
                        </li>
                        <li class="mb-4">
                            <a
                                href="/plugins"
                                class="has-text-white text-nowrap is-size-6"
                            >
                                Plugins
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="/planet" class="has-text-white text-nowrap">
                                Planet
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="{{ MAIN_WEBSITE_URL }}/product/visual-changelogs" class="has-text-white text-nowrap">
                                Visual Changelogs
                            </a>
                        </li>
                    </ul>
    
                    <ul class="column mb-5">
                        <li class="is-size-5 mb-5">
                            <a href="{{ MAIN_WEBSITE_URL }}/community/involve/" class="footertitle text-nowrap">
                                Community
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="{{ MAIN_WEBSITE_URL }}/community/involve" class="has-text-white text-nowrap">
                                Get involved
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="{{ MAIN_WEBSITE_URL }}/community/certification" class="has-text-white text-nowrap">
                                Become a certified member
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="{{ MAIN_WEBSITE_URL }}/community/foundation" class="has-text-white text-nowrap">
                                QGIS Foundation
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="{{ MAIN_WEBSITE_URL }}/community/organisation" class="has-text-white text-nowrap">
                                Project Organisation
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="{{ MAIN_WEBSITE_URL }}/community/members" class="has-text-white text-nowrap">
                                Members and Donors
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="https://plugins.qgis.org/planet/" class="has-text-white text-nowrap">
                                Members Blogs
                            </a>
                        </li>
                    </ul>
    
                    <ul class="column mb-5">
                        <li class="is-size-5 mb-5">
                            <a href="{{ MAIN_WEBSITE_URL }}/resources/hub/" class="footertitle text-nowrap">
                                Resources
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="{{ MAIN_WEBSITE_URL }}/resources/hub" class="has-text-white text-nowrap">
                                QGIS resources
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="{{ MAIN_WEBSITE_URL }}/resources/installation-guide/" class="has-text-white text-nowrap">
                                Installation guide
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="https://docs.qgis.org/latest/en/docs/index.html" class="has-text-white text-nowrap">
                                Documentation
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="{{ MAIN_WEBSITE_URL }}/resources/releases/" class="has-text-white text-nowrap">
                                Releases
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="{{ MAIN_WEBSITE_URL }}/resources/roadmap/" class="has-text-white text-nowrap">
                                Roadmap
                            </a>
                        </li>
                        <li class="mb-4 mb-5">
                            <a href="{{ MAIN_WEBSITE_URL }}/resources/reports/" class="has-text-white text-nowrap">
                                Reports
                            </a>
                        </li>
                        <li class="mb-4 mb-5">
                            <a href="{{ MAIN_WEBSITE_URL }}/resources/books/" class="has-text-white text-nowrap">
                                Books
                            </a>
                        </li>
                        <li class="mb-4 mb-5">
                            <a href="{{ MAIN_WEBSITE_URL }}/resources/support/bug-reporting" class="has-text-white text-nowrap">
                                Support
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="https://blog.qgis.org/" class="has-text-white text-nowrap">
                                Blog
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column is-2-desktop">
                <a href="{{ MAIN_WEBSITE_URL }}/download/">
                    <button class="button is-primary1 is-size-5">Download</button>
                </a>
            </div>
        </div>
        <div class="columns is-desktop">
            <div class="copyright column is-2-desktop has-text-white"></div>
            <div class="column social-icons-links">
                <a class="has-text-white" href="https://www.facebook.com/profile.php?id=100057434859831">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a class="has-text-white" href="https://twitter.com/qgis">
                    <i class="fa-brands fa-square-twitter"></i>
                </a>
                <a class="has-text-white" href="https://www.youtube.com/@qgishome">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a class="has-text-white" href="https://mapstodon.space/@qgis@fosstodon.org">
                    <i class="fa-brands fa-foss"></i>
                </a>
                <a class="has-text-white" href="https://github.com/qgis/">
                    <i class="fa-brands fa-square-github"></i>
                </a>
                <a class="has-text-white" href="">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </div>
        </div>
        <div class="columns is-desktop privacy-links">
            <a href="{{ MAIN_WEBSITE_URL }}/diversity" class="column is-narrow is-offset-2-desktop">Diversity statement</a>
            <a href="{{ MAIN_WEBSITE_URL }}/conduct" class="column is-narrow">Code of conduct</a>
            <a href="{{ MAIN_WEBSITE_URL }}/environmental-policy" class="column is-narrow">Environmental policy</a>
            <a href="{{ MAIN_WEBSITE_URL }}/license" class="column is-narrow">License</a>
            <a href="{{ MAIN_WEBSITE_URL }}/styleguide" class="column is-narrow">Visual Style Guide</a>   
            <a href="{{ MAIN_WEBSITE_URL }}/goodies" class="column is-narrow">Goodies</a>
        </div>
    </div>
</footer>