{% extends 'geopackages/geopackage_base.html' %}{% load i18n static thumbnail %}

{% block content %}
        <h3 class="style-title">{{ geopackage_detail.name|title }}</h3>
        {% if user == geopackage_detail.creator or user.is_staff %}
        <div class="row pull-right">
            <a class="btn btn-primary btn-mini" href="{% url 'geopackage_update' geopackage_detail.id %}" title="{% trans "Edit" %}"><i class="icon-pencil icon-white"></i></a>&nbsp
            <a class="btn btn-danger btn-mini" href="{% url 'geopackage_delete' geopackage_detail.id %}" title="{% trans "Delete" %}"><i class="icon-remove icon-white"></i></a>&nbsp
        </div>
        {% endif %}
        <hr />
        <div class="row">
            <div class="span6 mb-5">
                <div class="style-polaroid">
                    {% thumbnail geopackage_detail.thumbnail_image "420x420" format="PNG" as im %}
                    <img class="" alt="{% trans "GeoPackage image" %}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" />
                    {% endthumbnail %}

                </div>

            </div>
            <div class="span6">
                <dl class="dl-horizontal">
                    <dd></dd>
                    <dt>Name</dt>
                    <dd>{{ geopackage_detail.name }}</dd>
                    <dt>Description</dt>
                    <dd>{{ geopackage_detail.description }}</dd>
                    <dt>Uploaded Date</dt>
                    <dd>{{ geopackage_detail.upload_date|date:"d F Y" }}</dd>
                    <dt>Approved Date</dt>
                    <dd>{{ geopackage_detail.geopackagereview_set.last.review_date|date:"d F Y"}}</dd>
                    <dt>Creator</dt>
                    <dd>{{ geopackage_detail.get_creator_name|title }}</dd>
                    <dt>GeoPackage File</dt>
                    <dd>
                        <div>
                             <a class="btn btn-primary btn-mini" href="{% url 'geopackage_download' geopackage_detail.id %}" title="{% trans "Download" %}"><i class="icon-download-alt"></i> Download</a>
                        </div>
                    </dd>
                </dl>

            </div>
            <div class="span12"></div>

        </div>
{% endblock %}