{% extends 'resources/geopackage_base.html' %}{% load i18n %}
{% block content %}
    <h2>{% trans "Delete GeoPackage"%}: {{ geopackage.name }}</h2>
    <form action="" method="post">{% csrf_token %}
        <p class="alert alert-danger">{% trans "Are you sure you want to permanently remove this GeoPackage?"%}</p>
        <p><input type="submit" class="btn btn-danger" name="delete_confirm" value="{% trans "Delete" %}" /> <a class="btn btn-primary" href="{% url 'geopackage_list' %}">{% trans "Cancel" %}</a></p>
    </form>

{% endblock %}
