django==2.2
django-auth-ldap
python-ldap
django-taggit
django-tinymce
psycopg2
# Updates for Django 2
git+https://github.com/metamatik/django-templatetag-sugar.git
# Updates for Django 2
git+https://github.com/elpaso/django-ratings.git@modernize
django-taggit-autosuggest
django-annoying
# Updates for Django 2
git+https://github.com/elpaso/rpc4django.git@modernize
Pillow
django-taggit-templatetags
# Updates for Django 2
git+git://github.com/elpaso/django-simplemenu.git@modernize
django-bootstrap-pagination
django-sortable-listview
sorl-thumbnail
django-extensions
django-debug-toolbar
whoosh
django-haystack

# Feedjack==0.9.18
# So use George's fork rather
# git+https://github.com/Erve1879/feedjack.git
# George's is also broken: use my fork (django 1.8 ready)
# git+https://github.com/elpaso/feedjack.git
# His is also broken, use mine (django 2.2 ready)
feedparser==5.1.3
git+https://github.com/dimasciput/feedjack.git
celery==4.3.0
requests==2.23.0
