django~=4.2
django-auth-ldap~=4.6
python-ldap~=3.4
django-taggit~=5.0
django-tinymce==3.4.0
psycopg2-binary~=2.9
# Updates for Django 2
git+https://github.com/metamatik/django-templatetag-sugar.git
# Updates for Django 4
git+https://github.com/Xpirix/django-ratings.git@modernize
django-taggit-autosuggest~=0.4
django-annoying~=0.10

# Updates for Django 2
# git+https://github.com/elpaso/rpc4django.git@modernize
rpc4django~=0.6
Pillow~=10.1
django-taggit-templatetags
# Updates for Django 4
git+https://github.com/Xpirix/django-simplemenu.git@modernize
django-bootstrap-pagination-forked~=1.7
django-sortable-listview~=0.43
sorl-thumbnail~=12.10
django-extensions~=3.2
django-debug-toolbar~=4.2
whoosh~=2.7
django-haystack~=3.2

# Feedjack==0.9.18
# So use George's fork rather
# git+https://github.com/Erve1879/feedjack.git
# George's is also broken: use my fork (django 1.8 ready)
# git+https://github.com/elpaso/feedjack.git
# His is also broken, use dimasciput (django 2.2 ready)
# git+https://github.com/dimasciput/feedjack.git
# For django 4, use Xpirix (django 4.2 ready)
git+https://github.com/Xpirix/feedjack.git
feedparser~=6.0
celery~=5.3

# pin due to issues with a breaking change
# https://github.com/celery/celery/issues/7783
importlib_metadata<5

requests~=2.31

markdown~=3.5

djangorestframework~=3.14
pyjwt~=2.8
djangorestframework-simplejwt~=5.3
sorl-thumbnail-serializer-field==0.2.1
django-rest-auth==0.9.5
drf-yasg~=1.21
django-rest-multiple-models==2.1.3

django-preferences==1.0.0
PyWavefront==1.3.3
django-matomo==0.1.6
uwsgi~=2.0
freezegun~=1.4

django-webpack-loader~=3.1