django==2.2.25
django-auth-ldap
python-ldap
django-taggit==2.0.0
django-tinymce==3.4.0
psycopg2
# Updates for Django 2
git+https://github.com/metamatik/django-templatetag-sugar.git
# Updates for Django 2
git+https://github.com/elpaso/django-ratings.git@modernize
django-taggit-autosuggest
django-annoying
# Updates for Django 2
git+https://github.com/elpaso/rpc4django.git@modernize
Pillow
django-taggit-templatetags
# Updates for Django 2
git+https://github.com/elpaso/django-simplemenu.git@modernize
django-bootstrap-pagination
django-sortable-listview
sorl-thumbnail
django-extensions
django-debug-toolbar==1.11.1

# Updates for Django 2  & Python 3.7
git+https://github.com/Xpirix/whoosh.git@a306553
pickle5==0.0.12
django-haystack==3.2.1

# Feedjack==0.9.18
# So use George's fork rather
# git+https://github.com/Erve1879/feedjack.git
# George's is also broken: use my fork (django 1.8 ready)
# git+https://github.com/elpaso/feedjack.git
# His is also broken, use mine (django 2.2 ready)
git+https://github.com/dimasciput/feedjack.git
feedparser==5.2.1
celery==4.3.1

# pin due to issues with a breaking change
# https://github.com/celery/celery/issues/7783
importlib_metadata<5

requests==2.23.0

markdown==3.2.1

djangorestframework==3.11.2
pyjwt==1.7.1
djangorestframework-simplejwt==4.4 

sorl-thumbnail-serializer-field==0.2.1
django-rest-auth==0.9.5
drf-yasg==1.17.1
django-rest-multiple-models==2.1.3

django-preferences==1.0.0
PyWavefront==1.3.3
