<VirtualHost *:80>
    ServerAdmin pcorti@gmail.com 
    ServerName local.translate.com
    ServerAlias www.local.translate.com.localhost

    DocumentRoot /home/capooti/git/github/qgis/qgis-django/pootle

    LogLevel info
    CustomLog /var/log/apache2/translation.access.log combined
    ErrorLog /var/log/apache2/translation.error.log

    WSGIScriptAlias / /home/capooti/git/github/qgis/qgis-django/pootle/apache/django.wsgi
    WSGIDaemonProcess pootle processes=2 threads=3 stack-size=1048576 maximum-requests=5000 inactivity-timeout=900 display-name=%{GROUP}
    WSGIProcessGroup pootle

    # directly serve static files like css and images, no need to go through mod_wsgi and django
    Alias /pootle/html /home/capooti/git/github/qgis/qgis-django/pootle/html
    <Directory /home/capooti/git/github/qgis/qgis-django/pootle/html>
    Order deny,allow
    Allow from all
    </Directory>

    # Allow downloading translation files directly
    Alias /pootle/export /home/capooti/git/github/qgis/qgis-django/pootle/po
    <Directory /home/capooti/git/github/qgis/qgis-django/pootle/po>
    Order deny,allow
    Allow from all
    </Directory>
</VirtualHost>
