{% extends "styles/style_base.html" %}{% load i18n %}
{% block content %}
    <h2>{% trans "Update Style:" %} {{ style.name }}</h2>
    <p class="help">{% trans "To update your style, you can change the value in the input field." %}</p>

    {% if form.non_field_errors %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "styles/form_snippet.html" %}
        <button class="btn btn-primary" type="submit">{% trans "Update" %}</button>
    </form>

{% endblock %}
