{% extends BASE_TEMPLATE %}{% load i18n plugins_tagcloud %}
{% block extratitle %}Plugins{% endblock %}
{% block content %}
    {{ content|safe }}
{% endblock %}
{% block leftbar %}
    <div class="span3 well" id="leftcolumn" data-spy="scroll">
        {% if featured %}
        <div class="module_menu">
            <h3>{% trans "Featured plugins" %}</h3>
            <ul class="nav nav-list">
                {% for plugin in featured  %}<li><a href="{% url "plugin_detail" plugin.package_name %}">{{ plugin.name }}</a></li>{% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if latest %}
        <div class="module_menu">
            <h3>{% trans "Updated plugins" %}</h3>
            <ul class="nav nav-list">
                {% for plugin in latest  %}<li><a href="{% url "plugin_detail" plugin.package_name %}">{{ plugin.name }}</a></li>{% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if popular %}
        <div class="module_menu">
            <h3>{% trans "Popular plugins" %}</h3>
            <ul class="nav nav-list">
                {% for plugin in popular  %}<li><a href="{% url "plugin_detail" plugin.package_name %}">{{ plugin.name }}</a></li>{% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if posts %}
        <div class="module_menu">
            <h3>{% trans "Latest posts" %}</h3>
            <ul class="nav nav-list">
                {% for post in posts %}<li><a href="{{ post.link}}">{{ post.title }}</a></li>{% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="module_menu">
            <h3>{% trans "Plugin tags" %}</h3>
            {% include_plugins_tagcloud 'plugins.plugin' %}
        </div>
    </div>
{% endblock %}

{% block rightbar %}
{% endblock %}
