.date{
  color: #999;
  font-size: 1.2em;
  padding: 0.5em 0em 0.5em 0em;
  margin: 0em 0 1em 0;
}
.avatar{
  margin: 1em 0em 1em 1em;
  float: right;
}
.name{
  font-size: 2.2em;
  font-weight: bold;
  color: #234261;
  margin: 2em 0em 0em 0em;
}

.post-title{
  font-size: 1.4em;
  font-style: italic;
  font-weight: bold;
  padding: 1.0em 0em 0em 0.5em;
}
#feed_list{
  margin: 2.0em 0em 0em 1em;
}
#paginate{
  margin: 2.0em 0em 0em 1em;
}
#tags{
  margin: 2.0em 0em 0em 1em;
}
.post-content{
  margin: 0em 0em 0em 1em;
}
.post-meta{
  margin: 0em 0em 3em 0em;
}

ul, ol {
  margin: 0em 0em 0em 1em;
}
