/* bs help block */
div.help {
    display: block;
    margin-bottom: 10px;
}

#rating {
    margin: 1em 0;
}

.fieldWrapper input, .fieldWrapper textarea {
    width: 406px;
}

#id_tags__tagautosuggest {
    width: inherit;
}

div.tag_cloud {
    text-align: center;
}

div.tag_cloud a {
   margin: 4px;
}

.white, .white a {
  color: #fff;
}

.olwidgetEditableLayerSwitcher .container {
    width: inherit !important;
}

img.plugin-icon {
    max-width: inherit;
}

.required label:after { content:" *"; color: red; }

/* HUB style */
.dropdown-menu {
    background-color: #1C2028;
}

.navbar .nav>li>.dropdown-menu:after {
    border-bottom: 6px solid #1C2028;
}

/* Bootstrap override */
@media (max-width: 767px) {
  .related-plugins-collapser {
    display: block;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .related-plugins-collapser {
    display: none;
  }

  #collapse-related-plugins {
    height: auto;
  }
}
