{% extends 'base.html' %}{% load i18n %}
{% load thumbnail %}

{% block menu %}
{{ block.super }}
<div class="module_menu">
    <div>
        <div>
            <h3>{% trans "QGIS Users Map" %}</h3>
            <ul class="menu">
              <li><a href="/community-map/view_users.html">{% trans "Community map"%}</a></li>
              <li><a href="/community-map/create_user_form.html">{% trans "Add yourself!"%}</a></li>
              <li><a href="/community-map/update_user.html">{% trans "Update your details"%}</a></li>
            </ul>
            <p class="centered">{{ myUserCount }} {% trans "users mapped" %}</p>
            {% if user.image %}
            <p class="centered">
              Meet a random user!</br>
              {% thumbnail user.image "100x100" crop="center" as im %}
              <img width="{{ im.width }}" height="{{ im.height }}" src="{{ im.url }}" />
              {% endthumbnail %}
              {% if user.home_url %}<a href="{{ user.home_url }}">{% endif %}
              <b>{{ user.name }}</b>
              {% if user.home_url %}</a>{% endif %}
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

