<html>
  <head>
    <title>QGIS Users - Around the world</title>
      <style>
       #map-id {
        width: 512px;
        height: 512px;
        border-color:grey;
       }
      </style>
    
    <script src="http://openlayers.org/api/OpenLayers.js"></script> 
  
  </head>
  
  <body>
    <h1>QGIS Community Map</h1>
    <div id="map-id"></div>
    
   <script>
       
     var map = new OpenLayers.Map("map-id");
            
     var country = new OpenLayers.Layer.WMS(
        "Country",
        "http://localhost/cgi-bin/mapserv?map=/mnt/my_files/linfiniti/dev/web/mapserver/world.map",
        {layers: "Country", format : "image/png; mode=24bit"}
      );
     map.addLayer(country);

    
    
     // Create a styleMap to style your features for two different
     // render intents.  The style for the 'default' render intent will
     // be applied when the feature is first drawn.  The style for the
     // 'select' render intent will be applied when the feature is
     // selected.
            var myStyles = new OpenLayers.StyleMap({
                "default": new OpenLayers.Style({
                    pointRadius: 1, 
                    fillColor: "#ffcc66",
                    strokeColor: "#ff9933",
                    strokeWidth: 2,
                    graphicZIndex: 1
                }),
                "select": new OpenLayers.Style({
                    fillColor: "#66ccff",
                    pointRadius: 5,
                    strokeColor: "#3399ff",
                    graphicZIndex: 2
                })
            });
     var pointlayer = new OpenLayers.Layer.Vector("the_user", {
        styleMap: myStyles,
         rendererOptions: {zIndexing: true}
         });
     var format = new OpenLayers.Format.WKT();
               
      {% for myObject in myObjects %}
            var feature = format.read('{{myObject.wkb_geometry}}');
            pointlayer.addFeatures(feature);
       {% endfor %}
         
            
     map.addLayer(pointlayer);
            
    var select = new OpenLayers.Control.SelectFeature(pointlayer, {hover: true});
    map.addControl(select);
    select.activate();
            
    map.zoomToMaxExtent();
     
    </script>
  
            
   
  </body>
</html>


