<html>
  <head>
    <title>QGIS Users - Around the world</title>
      <style>
       #map-id {
        width: 512px;
        height: 512px;
        border-color:grey;
       }
      </style>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="http://openlayers.org/api/OpenLayers.js"></script> 
  
  </head>
  
  <body>
    <h1>QGIS Community Map</h1>
    <div id="map-id"></div>
    
   <script>
     var geographic = new OpenLayers.Projection("EPSG:4326");
     var gmercator = new OpenLayers.Projection("EPSG:900913");

     var world = new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34);
     var options = {
                projection: gmercator,
                units: "m",
                maxExtent: world
            };
     var map = new OpenLayers.Map("map-id", options);       

     var osmLayer = new OpenLayers.Layer.OSM();
     osmLayer.projection = gmercator;
   
    
 // Create a styleMap to style your features for two different
     // render intents.  The style for the 'default' render intent will
     // be applied when the feature is first drawn.  The style for the
     // 'select' render intent will be applied when the feature is
     // selected.
            var myStyles = new OpenLayers.StyleMap({
                "default": new OpenLayers.Style({
                    pointRadius: 1, 
                    fillColor: "#ffcc66",
                    strokeColor: "#ff9933",
                    strokeWidth: 2,
                    graphicZIndex: 1
                }),
                "select": new OpenLayers.Style({
                    fillColor: "#66ccff",
                    pointRadius: 5,
                    strokeColor: "#3399ff",
                    graphicZIndex: 2
                })
            });


    var pointlayer = new OpenLayers.Layer.Vector("the_user", {
         styleMap: myStyles,
         rendererOptions: {zIndexing: true}
         });
    
      
     var proj_options = {
                'internalProjection': gmercator,
                'externalProjection': geographic
            };
     var format = new OpenLayers.Format.WKT(proj_options)

      {% for myObject in myObjects %}
            var element = '{{myObject.wkb_geometry}}';
            var features = format.read(element);
            pointlayer.addFeatures(features);
                        
       {% endfor %}
         
    
   
    var select = new OpenLayers.Control.SelectFeature(pointlayer, {hover: true});
    map.addControl(select);
    select.activate();
            
            
   map.addLayers([osmLayer, pointlayer]);
   map.addControl(new OpenLayers.Control.MousePosition());
       
   map.zoomToMaxExtent();
     
    </script>
  
            
   
  </body>
</html>


