{% extends 'base.html' %}{% load i18n %}

{% block menu %}
{{ block.super }}
<div class="module_menu">
    <div>
        <div>
            <h3>{% trans "QGIS Users Map" %}</h3>
            <ul class="menu">
              <li><a href="/community-map/view_users.html">{% trans "Community map"%}</a></li>
              <li><a href="/community-map/create_user_form.html">{% trans "Add yourself!"%}</a></li>
              <li><a href="/community-map/update_user.html">{% trans "Update your details"%}</a></li>
            </ul>
            <p>{{ myUserCount }} {% trans "users mapped" %}</p>
        </div>
    </div>
</div>
{% endblock %}

