{% extends 'user_base.html' %}{% load i18n %}
{% block onload %}onload="init();"{% endblock %}
{% block extrajs %}
  <script src="http://openlayers.org/api/OpenLayers.js"></script> 
    <script>
  function init()
  {
    OpenLayers.ImgPath = "http://js.mapbox.com/theme/dark/";
    var geographic = new OpenLayers.Projection("EPSG:4326");
    var gmercator = new OpenLayers.Projection("EPSG:900913");

    var world = new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34);
    var options = {
               projection: gmercator,
               units: "m",
               maxExtent: world
           };
    var map = new OpenLayers.Map("map", options);       

    var osmLayer = new OpenLayers.Layer.OSM();
    osmLayer.projection = gmercator;
    
    // Create a styleMap to style your features for two different
    // render intents.  The style for the 'default' render intent will
    // be applied when the feature is first drawn.  The style for the
    // 'select' render intent will be applied when the feature is
    // selected.
    var myStyles = new OpenLayers.StyleMap({
        "default": new OpenLayers.Style({
            pointRadius: 1, 
            fillColor: "#ffcc66",
            strokeColor: "#ff9933",
            strokeWidth: 2,
            graphicZIndex: 1
        }),
        "select": new OpenLayers.Style({
            fillColor: "#66ccff",
            pointRadius: 5,
            strokeColor: "#3399ff",
            graphicZIndex: 2
        })
    });

    var pointlayer = new OpenLayers.Layer.Vector("Users", {
         styleMap: myStyles,
         rendererOptions: {zIndexing: true}
    });
    
      
    var proj_options = {
      'internalProjection': gmercator,
      'externalProjection': geographic
    };
    var format = new OpenLayers.Format.WKT(proj_options);

    {% for myObject in myObjects %}
    var element = '{{myObject.geometry}}';
    var features = format.read(element);
    pointlayer.addFeatures(features);
    {% endfor %}
   
    var select = new OpenLayers.Control.SelectFeature(pointlayer, {hover: true});
    map.addControl(select);
    select.activate();

    map.addLayers([osmLayer, pointlayer]);
    
    map.addControl(new OpenLayers.Control.MousePosition());
       
    map.zoomToMaxExtent();
    
  }
  </script>
{% endblock %}
  
  
{% block content %}
  <div id="map"></div>

{% endblock %}


