django
django-auth-ldap
python-ldap
django-taggit
django-tinymce
psycopg2
# Updates for Django 2
git+https://github.com/metamatik/django-templatetag-sugar.git
# Updates for Django 2
git+https://github.com/elpaso/django-ratings.git@modernize
django-taggit-autosuggest
django-annoying
# Updates for Django 2
git+https://github.com/ngaranko/rpc4django.git
Pillow
django-taggit-templatetags
# Updates for Django 2
git+git://github.com/elpaso/django-simplemenu.git@modernize
django-bootstrap-pagination
django-sortable-listview
sorl-thumbnail
django-extensions
django-debug-toolbar