<VirtualHost *>
  ServerAdmin tim@linfiniti.com 
  ServerName afis.localhost
  ServerAlias www.afis.localhost
  DocumentRoot /var/www
  CustomLog /var/log/apache2/afis.access.log combined
  # Possible values include: debug, info, notice, warn, error, crit,
  # alert, emerg.
  LogLevel debug 
  #warn
  ErrorLog /var/log/apache2/afis.error.log
  ServerSignature Off
  WSGIScriptAlias / /home/web/afis/afis_django_viewer/apache/django.wsgi
  WSGIDaemonProcess afis user=timlinux group=timlinux processes=1 threads=10 python-path=/home/web/afis/python/lib/python2.6/site-packages
  WSGIProcessGroup afis
  <Directory /home/web/afis/afis_django_viewer/apache>
    Order deny,allow
    Allow from all
  </Directory>

  Alias /admin_media /home/web/afis/python/lib/python2.6/site-packages/django/contrib/admin/media/
  <Location /admin_media>
    Order deny,allow
    Allow from all
    SetHandler None
  </Location>

  Alias /media /home/web/afis/afis_django_viewer/media
  <Location /media>
    Order deny,allow
    Allow from all
    SetHandler None
  </Location>
</VirtualHost>
