<VirtualHost *>
  ServerAdmin tim@linfiniti.com
  ServerName qgis-django.localhost
  ServerAlias www.qgis-django.localhost
  DocumentRoot /var/www
  CustomLog /var/log/apache2/qgis-django.access.log combined
  # Possible values include: debug, info, notice, warn, error, crit,
  # alert, emerg.
  LogLevel debug
  #warn
  ErrorLog /var/log/apache2/qgis-django.error.log
  ServerSignature Off
  WSGIScriptAlias / /home/web/qgis-django/apache/django.wsgi
  WSGIDaemonProcess qgis-django user=timlinux group=timlinux processes=1 threads=10 python-path=/home/web/qgis-django/python/lib/python2.6/site-packages
  WSGIProcessGroup qgis-django
  <Directory /home/web/qgis-django/apache>
    Order deny,allow
    Allow from all
  </Directory>

  Alias /media /home/web/qgis-django/python/lib/python2.6/site-packages/django/contrib/admin/media/
  <Location /media>
    Order deny,allow
    Allow from all
    SetHandler None
  </Location>

  Alias /static /home/web/qgis-django/qgis/static
  <Location /static>
    Order deny,allow
    Allow from all
    SetHandler None
  </Location>
</VirtualHost>
