{% load i18n resources_custom_tags%}

<dd></dd>
<dt>Name</dt>
<dd>{{ object_detail.name }}</dd>
<dt>Description</dt>
<dd>{{ object_detail.description|md_to_html }}</dd>
<dt>Uploaded Date</dt>
<dd>{{ object_detail.upload_date|date:"d F Y" }}</dd>
{% if object_detail.review_set.last.review_date and object_detail.approved%}
<dt>Approved Date</dt>
<dd>{{ object_detail.review_set.last.review_date|date:"d F Y"}}</dd>
{% endif %}
<dt>Modified Date</dt>
<dd>{{ object_detail.modified_date|date:"d F Y" }}</dd>
<dt>Creator</dt>
<dd>{{ object_detail.get_creator_name|title }}</dd>
{% if is_qlr %}
{% include "base/includes/layerdefinition/detail_datasource.html" %}
{% endif %}
{# for style app sharing only #}
{% if object_detail.style_type %}
<dt>Type</dt>
<dd>
  {{ object_detail.style_type.name }}
</dd>
{% endif %}
