{% load static %}
          <div class="span12 license">
              <div class="media" style="margin-top: 2rem">
                <a class="pull-left" href="#">
                  <img src="{% static 'images/cc-zero.svg' %}">
                </a>
                <div class="media-body">
                  <p>This {{ resource_name }} is made available under the <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC-0 license</a>.</p>
                </div>
              </div>
            </div>
