{% extends 'base.html' %}{% load i18n %}

{% block content %}

            <h2>Welcome the the new QGIS Web Application</h2>
            <p>This application in currently under testing and will become soon the official QGIS web portal.</p>
            <p>You are strongly encouraged to use this application and report any issue on the <a href="http://hub.qgis.org/projects/qgis-django">QGIS Web Applications Bug Tracking System.</a></p>
            <p>In order to upload or administer a plugin (or use some other advanced functionalities of this website) you will need to login with a valid OSGEO id. You can create a new one on <a href="http://www.osgeo.org/osgeo_userid">OSGEO web portal.</a></p>
            <p>Thank you for your cooperation.</p>

{% endblock %}
