name: pr-test
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - '3.7'
    steps:

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Checkout
        uses: actions/checkout@master

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('REQUIREMENTS-dev.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Python requirements
        run: pip install -r REQUIREMENTS-dev.txt

      - name: Run flake8
        run: flake8 --config setup.cfg

  test:
    runs-on: ubuntu-latest
    needs:
      - lint
    defaults:
      run:
        working-directory: dockerize
    steps:
      - uses: actions/checkout@v4

      - name: Run docker-compose build
        run: docker-compose build

      - name: Run the containers
        run: docker-compose up -d db devweb

      - name: Run Coverage test
        run: |
          docker-compose exec devweb bash -c '
            set -e  # Exit immediately if any command fails
            pip install coverage &&
            python manage.py makemigrations &&
            python manage.py migrate &&
            coverage run manage.py test &&
            coverage xml
          '

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
